<h1>Bank (Control)</h1>
<h2><%= @game.bank %></h2>
<form>
    <button hx-post="/control/2">2</button>
    <button hx-post="/control/3">3</button>
    <button hx-post="/control/4">4</button>
    <button hx-post="/control/5">5</button>
    <button hx-post="/control/6">6</button>
    <button hx-post="/control/7">7</button>
    <button hx-post="/control/8">8</button>
    <button hx-post="/control/9">9</button>
    <button hx-post="/control/10">10</button>
    <button hx-post="/control/11">11</button>
    <button hx-post="/control/12">12</button>
    <button hx-post="/control/doubles">Doubles</button>
    <button hx-post="/control/reset">Reset</button>
</form>